<form action="{{ action }}" name="editor" method="post">
	<script language="javascript" type="text/javascript" src="assets/edit_area/edit_area_full.js"></script>
	<script language="javascript" type="text/javascript">editAreaLoader.init({
			id : "source",
			syntax: '{{ syntax }}',
			start_highlight: true,
			allow_toggle: false
	});</script>

	<textarea style=" width:100%;" rows="30" name="source" id="source">{{ content }}</textarea>
	<p align="center">
		<input type="submit" value="Speichern" class="btn btn-primary">
		<a href="{{ cancel }}" class="btn">Abbrechen</a>
	</p>
</form>