<form action="{{ action }}" name="editor" method="post">
	<script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
	<script>tinymce.init({ selector:'#source' });</script>

	<textarea style=" width:100%;" rows="30" name="source" id="source">{{ content }}</textarea>
	<p align="center" style="border-top:1px solid #ddd; padding-top:15px;">
		<input type="submit" value="Speichern" class="btn btn-primary">
		<a href="{{ cancel }}" class="btn">Abbrechen</a>
	</p>
</form>
