<div class="pull-right subbox">
	{% if form %}
		<h3>Status ändern</h3>
		{{ form|raw }}
	{% endif %}

	<h3>Legende</h3>
	<table class="boardlist">
		<tr>
			<td width="20">
				<div class="status" style="background-color: {{ status.abgelehnt }}"></div>
			</td>
			<td>Abgelehnt</td>
		</tr>
		<tr>
			<td width="20">
				<div class="status" style="background-color: {{ status.joined }}"></div>
			</td>
			<td>Angemeldet</td>
		</tr>
		<tr>
			<td width="20">
				<div class="status" style="background-color: {{ status.ersatz }}"></div>
			</td>
			<td>Ersatzbank</td>
		</tr>
		<tr>
			<td width="20">
				<div class="status" style="background-color: {{ status.approved }}"></div>
			</td>
			<td>Bestätigt</td>
		</tr>
	</table>

</div>

<h3>Informationen</h3>

<table style="width: 60%">
	<tr>
		<td><b style="color:white">Raidbeginn:</b></td>
		<td>{{ raid.start_zeit }}</td>
	</tr>
	<tr>
		<td><b style="color:white">Vorrausichtliches Ende:</b></td>
		<td>{{ raid.end_zeit }}</td>
	</tr>
	<tr>
		<td><b style="color:white">Raidleiter:</b></td>
		<td>{{ leader.name }}</td>
	</tr>
	<tr>
		<td valign="top"><b style="color:white">Anmeldungen:</b></td>
		<td>{{ membercount }} / {{ target.player }}</td>
	</tr>
	<tr>
		<td valign="top"><b style="color:white">Info:</b></td>
		<td>{{ raid.comment }}</td>
	</tr>
</table>

<h3>Anmeldungen</h3>

<table style="width: 60%" class="boardlist">
	<tr>
		<th colspan="2">Tanks</th>
	</tr>

	{% for player in raid.tanks %}
		<tr>
			<td width="20">
				<div class="status" style="background-color: {{ player.statuscolor }}"></div>
			</td>
			<td>
				<span style="color: {{ player.classcolor }}">{{ player.name }}</span>
			</td>
		</tr>
	{% else %}
		<tr>
			<td colspan="2">Keine Anmeldungen</td>
		</tr>
	{% endfor %}

	<tr>
		<th colspan="2">Heiler</th>
	</tr>

	{% for player in raid.healer %}
		<tr>
			<td width="20">
				<div class="status" style="background-color: {{ player.statuscolor }}"></div>
			</td>
			<td>
				<span style="color: {{ player.classcolor }}">{{ player.name }}</span>
			</td>
		</tr>
	{% else %}
		<tr>
			<td colspan="2">Keine Anmeldungen</td>
		</tr>
	{% endfor %}

	<tr>
		<th colspan="2">Nahkämpfer</th>
	</tr>

	{% for player in raid.meele %}
		<tr>
			<td width="20">
				<div class="status" style="background-color: {{ player.statuscolor }}"></div>
			</td>
			<td>
				<span style="color: {{ player.classcolor }}">{{ player.name }}</span>
			</td>
		</tr>
	{% else %}
		<tr>
			<td colspan="2">Keine Anmeldungen</td>
		</tr>
	{% endfor %}

	<tr>
		<th colspan="2">Fernkämpfer</th>
	</tr>

	{% for player in raid.ranged %}
		<tr>
			<td width="20">
				<div class="status" style="background-color: {{ player.statuscolor }}"></div>
			</td>
			<td>
				<span style="color: {{ player.classcolor }}">{{ player.name }}</span>
			</td>
		</tr>
	{% else %}
		<tr>
			<td colspan="2">Keine Anmeldungen</td>
		</tr>
	{% endfor %}

</table>


{% if comments %}
	<h3>Kommentare</h3>
	{% for com in comments %}
		<div>&nbsp; <b>{{ com.name }}:</b> {{ com.comment }}</div>
	{% endfor %}
{% endif %}