<style>
	.calendar {
		border-spacing: 0;
		margin: 5px;
		border-collapse: collapse;
	}

	.calendar th {
		text-align: left;
		background: #ccc;
		border: 1px solid #ccc;
		padding: 5px;
	}

	.calendar td {
		vertical-align: top;
		height: 90px;
		padding: 10px;
		border: 1px solid #ccc;
	}

	.calendar td.tag {
		background-color: rgba(255,255,255,.3);
		{% if daylink %}cursor: pointer;{% endif %}
	}
</style>

<table width="100%" style="margin-bottom: 20px">
	<tr>
		<td align="left" width="33%"><a class="btn" href="{{ self }}&mon={{ month-1 }}">&laquo;&laquo; vorheriger Monat</td>
		<td align="center" width="33%"><a class="btn" href="{{ self }}&mon={{ current_month }}">aktueller Monat</td>
		<td align="right" width="33%"><a class="btn" href="{{ self }}&mon={{ month+1 }}">nächster Monat &raquo;&raquo;</td>
	</tr>
</table>

<table class="calendar" width="100%" align="center">
	<tr>
		<th width="14%">Montag</th>
		<th width="14%">Dienstag</th>
		<th width="14%">Mittwoch</th>
		<th width="14%">Donnerstag</th>
		<th width="14%">Freitag</th>
		<th width="14%">Samstag</th>
		<th width="14%">Sonntag</th>
	</tr><tr>


		{% for i, day in days %}
		{% if i % 7 == 0 and i > 0 %}</tr><tr>{% endif %}

		{% if day %}
			<td {% if day.current %}style="background-color: rgba(255,255,150,.3);"{% endif %} class="tag" {% if daylink %}onclick="window.location.href='{{ self }}&day={{ day.timestamp }}';"{% endif %}>
				<div class="day">{{ day.tag }}</div>

				{% for e in day.events %}
					{% if daylink %}
						<div>{{ e.datum }} <i>{{ e.location }}</i></div>
					{% else %}
						<a href="{{ self }}&raid={{ e.id }}">{{ e.datum }} <i>{{ e.location }}</i></a>
					{% endif %}
				{% endfor %}

			</td>
		{% else %}
			<td>&nbsp;</td>
		{% endif %}
		{% endfor %}
	</tr>
</table>