<div class="popup_container" style="display: none">
	<div class="modal-backdrop fade in" onclick="$('.popup_container').hide()"></div>
	<div class="modal fade in">
		<div class="modal-header">
			<button type="button" class="close" onclick="$('.popup_container').hide()">&times;</button>
			<h3 id="modal-title"></h3>
		</div>
		<div class="modal-body"></div>
	</div>
</div>

<div id="create-form" style="display: none">{{ createForm|raw }}</div>
<div id="upload-form" style="display: none">{{ uploadForm|raw }}</div>

<div class="row-fluid">
	<div class="span3">
		<div class="box">
			<h2>Kategorien</h2>
			<div style="min-width: 0">
				<div class="tree" style="">
					<ul style="margin-left: 15px;">
						<li class="node">
							<div class="btn-group" data-board="0" >
								<a class="btn handle" href="{{ modul_self }}&category=0">
									<span class="{% if 0 == current %}icon-folder-open{% else %}icon-folder-close{% endif %}"></span>
									System Root
								</a>
								<a href="#" title="Neue Kategorie" onclick="return createLayer();" class="btn">
									<span class="icon-plus"></span>
								</a>
							</div>
							<ul>
								{% for item in categories %}
									<li class="node">
										<div class="btn-group droppable" data-category="{{ item.id }}" >
											<a class="btn" href="{{ modul_self }}&category={{ item.id }}">
												<span class="{% if item.id == current %}icon-folder-open{% else %}icon-folder-close{% endif %}"></span>
												{{item.name}}

												<a class="btn dropdown-toggle" data-toggle="dropdown">
													<span class="caret"></span>
												</a>

												<ul class="dropdown-menu">
													<li><a href="#" onclick="return editCategory( {{ item.id }} );">Kategorie bearbeiten</a></li>
													<li><a href="{{ modul_self }}&delete={{ item.id }}" onclick="return confirm('wirklich löschen?');">Kategorie löschen</a></li>
												</ul>
											</a>
										</div>
									</li>
								{% endfor %}
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div class="span9">
		<div class="box">
			<h2>Ergebnisse <a style="margin-top: 5px" href="#" title="Datei hochladen" onclick="return upload() ;" class="btn pull-right"><span class="icon-plus"></span></a></h2>
			<div>
				{% if error == false %}
					{% for img in images %}
					<div class="thumbnail hasTooltip" data-original-title="{{ img.name }}" style="display: inline-block; margin: 5px; text-align: center;">
						<div style="width: 200px; height: 200px;">
							<img src="{{ img.path }}" class="img-rounded" style="margin-bottom: 10px; max-height: 200px;">
						</div>

						<div class="btn-group" style="text-align: center">
							<a style="cursor: move" data-img="{{ img.id }}" class="btn draggable handle">Verschieben</a>
							<a class="btn" onclick="return confirm('wirklich Löschen?')" href="{{ modul_self }}&category={{ category }}&deleteImg={{ img.id }}">Löschen</a>
						</div>

						<div><input onclick="this.select()" style="width: 172px !important; margin-bottom: 0; margin-top: 4px;" type="text" value="{{ url }}/{{ img.path }}" readonly></div>
						<div><input onclick="this.select()" style="width: 172px !important; margin-bottom: 0; margin-top: 4px;" type="text" value='<img href="{{ url }}/{{ img.path }}" alt="{{ img.name }}" />' readonly></div>


					</div>
					{% endfor %}
					<div class="clearfix"></div>
				{% else %}
					{{ error }}
				{% endif %}
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	moveurl = '{{ modul_self|raw }}';

	function createLayer() {
		$('.popup_container .modal-body').html($('#create-form').html());
		$('#modal-title' ).text('Kategorie erstellen');
		$('.popup_container').show();

		return false;
	}

	function upload() {
			$('.popup_container .modal-body').html($('#upload-form').html());
			$('#modal-title' ).text('Datei hochladen');
			$('.popup_container').show();

			return false;
		}

	function editCategory( id ) {
		$.get( '{{ modul_self }}&category={{ category }}&edit='+id, function( data ) {
			$('.popup_container .modal-body').html(data);
			$('.popup_container .btn[value="Zurück"]').remove();
			$('.popup_container').show();
		});

		return false;
	}

	$( function() {
			$( ".draggable" ).draggable({
				revert: "invalid",
				zIndex: 10,
				handle: ".handle",
				helper: function(evt) {
					return $('<button class="btn"></button>').text( $( this ).parent().parent().data().originalTitle);
				}
			});

			$( ".droppable" ).droppable({
				hoverClass: "tree-hover",
				drop: function( event, ui ) {
					var img = ui.draggable.data('img');
					var target = $( this ).data('category');
					window.location.href = moveurl+'&move='+img+'&category='+target;
				}
			});

		});
</script>