<script type="text/javascript" language="JavaScript">
	function publish(container, id) {
		$.get('{{ IV_SELF }}modul=iv.packages&action=publish&edit='+id);
		$(container).fadeOut();
	}
</script>


{% for pack in packages %}
	{% if pack.display %}
		<div class="box" id="pack-{{ pack.id|replace({'.': '-'}) }}">
			<h2>{{ pack.name }}</h2>

			{% if pack.new %}
			<div>
				<b>New Files</b>
				<ul>
					{% for file in pack.new %}
						<li style="color: green">{{ file.path }}</li>
					{% endfor %}
				</ul>
			</div>
			{% endif %}

			{% if pack.changed %}
				<div>
					<b>Changed Files</b>
					<ul>
						{% for file in pack.changed %}
							<li style="color: blue">{{ file.path }}</li>
						{% endfor %}
					</ul>
				</div>
			{% endif %}

			<div>
				<p>
					<button onclick="publish( '#pack-{{ pack.id|replace({'.': '-'}) }}', '{{ pack.id }} ')"  class="btn btn-primary">Veröffentlichen</button>
				</p>
			</div>
		</div>
	{% endif %}
{% endfor %}

<p align="center" style="margin-top: 30px;">
	<a href="{{ MODUL_SELF }}" class="btn">Zurück</a>
</p>