<script type="text/javascript" language="JavaScript">
	function preview(file) {
		$('#preview').load('{{ MODUL_SELF }}&file=' + file);
	}
</script>

<style type="text/css">
	#preview code {
		border: none;
		background-color: transparent;
	}
</style>

{% if suggestions %}

<div class="box">
	<h2>
		Vorschläge
	</h2>

	<div>
		<ul>
			{% for file, pack in suggestions %}
				<li>{{ file }} => {{ pack }}</li>
			{% endfor %}
		</ul>

		<p><a href="{{ MODUL_SELF }}&apply" class="btn btn-primary">Übernehmen</a></p>
	</div>
</div>
{% endif %}

<div class="box">
	<h2>
		<a href="{{ MODUL_SELF }}&changes" class="pull-right btn" style="margin-top: 4px;">Änderungen</a>
		Unversioned Files
	</h2>

	<div>
	<form action="{{ MODUL_SELF }}" method="post" style="padding: 10px;">
		<div class="row-fluid">
			<div class="span4">
				<p>
					<select name="files[]" multiple="multiple" class="input-block-level" style="height: 600px">
						{% for file in files %}
							<option onclick="preview('{{ file }}')">{{ file }}</option>
						{% endfor %}
					</select>
				</p>

				<p>
					<select name="package" class="input-block-level">
						{% for pack in packages %}
							<option value="{{ pack.id }}">{{ pack.name }}</option>
						{% endfor %}
					</select>
				</p>
			</div>

			<div class="span8">
				<p id="preview" style="height: 578px; overflow: scroll; border: 1px solid #999; padding: 10px;"></p>

				<p class="input-append">
					<input class="span8" name="comment" type="text" placeholder="Changelog comment...">
					<button class="btn btn-primary" style="width: 33%" type="submit">Hinzufügen</button>
				</p>

			</div>
		</div>
	</form></div>
</div>
