<!DOCTYPE html>
<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>IV Entertainment</title>
	{% for file in js %}<script type="text/javascript" src="{{ file }}"></script>{% endfor %}
	{% for file in css %}<link rel="stylesheet" href="{{ file }}" type="text/css" />{% endfor %}
	<link rel="stylesheet" href="{{ base_dir }}/assets/style.css" type="text/css">
</head>

<body style="margin-top: 20px;">
<table align="center" width="1280" cellspacing="0" cellpadding="0" class="rahmen">
	<tr>
		<td width="191" valign="top" style="background-image:url({{ base_dir }}/assets/m_bg.png)">
			<img src="{{ base_dir }}/assets/m_header.png" alt="IV Entertainment" border="0">
			<table width="100%" cellpadding="0" cellspacing="0">

				{% for id, point in menu %}
					<tr><td height="29" class="mhead"><a href="{{ IV_SELF }}category={{ id }}">{{point.name}}</a></td></tr>
					{% for subpoint in point.children %}
						<tr><td height="17" class="mpoint"><a href="{{ IV_SELF }}modul={{subpoint.file}}">&raquo; {{subpoint.name}}</a></td></tr>
					{% endfor %}
				{% endfor %}

				<tr><td><img src="{{ base_dir }}/assets/m_line.png" alt="---" border="0"></td></tr>
			</table>
			<p align="center" style="color:#666666;">{{ "now"|date("d.m.Y H:i") }}</p>
		</td>

		<td style="padding: 15px" valign="top">
			<noscript>
				<div class="alert alert-error">Bitte Javascript aktivieren!</div>
			</noscript>

			{% if error %}
				<pre class="alert alert-error">{{ error }}</pre>
			{% endif %}

			{% if success %}
				<pre class="alert alert-success">{{ success }}</pre>
			{% endif %}

			{{content|raw}}
		</td>
	</tr>
</table>
<p align="center">&copy; by IV Entertainment</p>
</body>
</html>