<table align="center" width="{% if width %}{{width}}{% else %}100%{% endif %}" class="rahmen" cellspacing="0" cellpadding="0">
	<tr>
		<td class="header"><b>{{title}}</b></td>
	</tr><tr>
		<td class="cbox">{{content|raw}}</td>
	</tr>
</table><br>