<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
	<title>IV Entertainment Adminzone</title>
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">

	{% for file in js %}<script type="text/javascript" src="{{ file }}"></script>{% endfor %}
	{% for file in css %}<link rel="stylesheet" href="{{ file }}" type="text/css" />{% endfor %}
	<link rel="stylesheet" href="{{ base_dir }}/login.css" type="text/css" />
</head>
<body>


	<table border="1" id="login">
		<tr>
			<td class="headline">
				IV Entertainment Adminzone Login
		</tr>
		<tr height="100">
			<td align="left" valign="top" height="100">
				<table width="500" border="1" cellspacing="0" cellpadding="0" height="100">
					<tr>
						<td style="padding:8px">

							<h3>Adminlogin</h3><br>
							<form action="{{ submit_url }}" method="POST">
								<table width="90%" align="center">
									<tr>
										<td height="5" colspan="2">
											Willkommen beim IV Entertainment Adminbereich.<br>
											Bitte loggen sie sich hier mit denen von ihnen bei <br>
											der Installation angegeben Zugangsdaten ein.

											{% if error %}<div class="alert alert-error"><strong>{{ error }}</strong></div>{% endif %}
										</td>
									</tr>
									<tr>
										<td height="5" colspan="2">
											<hr>
										</td>
									</tr>
									<tr>
										<td>Accountname:</td>
										<td><input type="text" name="admin_name" size="20" maxlength="40"></td>
									</tr>
									<tr>
										<td>Passwort:</td>
										<td><input type="password" name="admin_pass" size="20" maxlength="40"></td>
									</tr>
									<tr>
										<td colspan="2">
											<label class="checkbox" for="inputRelogin">
												<input type="checkbox" id="inputRelogin" name="relogin"> Eingeloggt bleiben
											</label>
										</td>
									</tr>
								</table>
								<p align="right"><input type="submit" value="Login -&gt;"></p>
							</form>

						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
	<p align="center">IV CMS Third Edition 1.V</p>
</body>
</html>