body {
	font-family: Helvetiva, Times, Monaco;
	color: #000000;
}

#login {
	margin: auto;
	width: 500px;
}

#login .headline {
	height: 25px;
	padding:3px;
	background: #555555;
	text-align: left;
	color: white;
	font-family: Helvetiva, Times, Monaco;
	font-style: italic;
}