<!DOCTYPE html>
<html lang="de">
	<head>
		<meta charset="utf-8" />
		<title>IV Entertainment Adminpanel</title>

		{% for file in js %}<script type="text/javascript" src="{{ file }}"></script>{% endfor %}
		{% for file in css %}<link rel="stylesheet" href="{{ file }}" type="text/css" />{% endfor %}
		<link rel="stylesheet" href="{{ base_dir }}/main.css" type="text/css" />
	</head>

	<body>
		<div id="header">
			<h1>IV Entertainment Adminpanel</h1>
		</div>

		<div id="menu">
			<ul>
				{% for id, point in menu %}
						<li>
							<a href="{{ IV_SELF }}category={{ id }}">{{point.name}}</a>
							<ul>
							{% for sub in point.children %}
								<li>
									<a href="{{ IV_SELF }}modul={{sub.file}}" class="menulink" style="background-image: url('assets/small/{{sub.icon}}');">{{sub.name}}</a>
								</li>
							{% endfor %}
							</ul>
						</li>
				{% endfor %}
			</ul>
		</div>

		<div id="content">
			{% if error %}
				<div class="error">{{ error }}</div>
			{% endif %}

			{{content|raw}}
		</div>
	</body>
</html>