<!DOCTYPE html>
<html lang="de">
	<head>
		<meta charset="utf-8" />
		<title>IV Entertainment Adminpanel Login</title>

		{% for file in js %}<script type="text/javascript" src="{{ file }}"></script>{% endfor %}
		{% for file in css %}<link rel="stylesheet" href="{{ file }}" type="text/css" />{% endfor %}
		<link rel="stylesheet" href="{{ base_dir }}/login.css" type="text/css" />
	</head>

	<body>
		<div id="header">
			<h1>IV Entertainment CMS</h1>
		</div>

		<div id="content">
			<div class="box">
				<h2 class="header">Adminpanel Login</h2>

				<div class="content">
					{% if error %}<div class="error">{{ error }}</div>{% endif %}

					<form action="{{ submit_url }}" method="post">
						<input type="text" autofocus="autofocus" autocomplete="off" placeholder="Name" name="admin_name">
						<input type="password" autocomplete="off" placeholder="Passwort" name="admin_pass">
						<input type="submit" class="submit" value="Login">
						<div style="clear:both"></div>
					</form>
				</div>
			</div>

		</div>
	</body>
</html>