body {
	background-color: #FFFFFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
}

.rahmen {
	border-color: #818181;
	border-style: solid;
	border-width: 1px;
}

.mpoint {
	background-image: url(m_point.png);
	padding: 0px 14px 0px 14px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
}

.mpoint a {
	text-decoration: none;
	color: #000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
}

.mhead {
	background-image: url(m_headpoint.png);
	padding: 0px 10px 0px 10px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	font-weight: bold;
}

.mhead a {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	font-weight: bold;
	text-decoration: none;
}

.liste a {
	color: #555599;
	font-weight: bold;
	text-decoration: none;
}

.row1 {
	background-color: #FFFFFF;
}

.row2 {
	background-color: #CCCCCC;
}

.row1:hover, .row2:hover {
	background-color: #DDDDFF;
}

.cbox {
	padding: 10px;
}

.rahmen .header {
	height: 26px;
	background-image:url(c_header.png);
	padding: 0px 10px 0px 10px
}